.create-container {
  height: 100vh;
  background: #603813;
  background: -webkit-linear-gradient(to right, #b29f94, #603813);
  background: linear-gradient(to right, #b29f94, #603813);
}
.create-btn{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}