
.note-card{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 3px;
    border: 1px solid #000;
}
.note-desc span {
    font-size: 0.7rem;
}
.note-func{
    display: flex;
    justify-content: flex-end;
    gap: 1.5rem;
}