.home{
    background-image: url("../../assets/home.jpg");
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem;
    height: 4rem;
    box-shadow: 0 0 5px;
}
.navbar > .head {
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
}
.navbar > .links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-size: 1.75rem;
    font-weight: 600;
}
.links a {
    text-decoration: none;
    color: #eee;
}

@media (max-width:720px){
    .navbar > .head {
        font-size: 1.5rem;
    }
    .links a {
        font-size: 1.35rem;
    }
}

@media (max-width:480px){
    .navbar{
        padding: 1rem;
    }
    .navbar > .links {
        gap: 1rem;
    }
    .links a {
        font-size: 1rem;
    }
}